.header {
    background-color: rgb(205, 14, 14);
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


.div {
    display: flex;
    flex-direction: row wrap;
    margin-left: 40px;
    cursor: pointer;
}