.menu {
    background-color: rgb(205, 14, 14);
    color: white;
    margin-top: -20px;
    margin-left: -30px;
    height: 100vh;
}

.menulist{
    margin-top: 20px;
    list-style-type: none;
    padding-top: 25px;
    margin-right: 5px;
}

.menulist .li{
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.li .link{
    text-decoration: none;
    color: white;
}